.search-location-form{
    padding:10px;
}

.citySearch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:12px;
}
.citySearch button{
    margin-left: -10px;
}

#home{
    margin-top: 0px;
}