.App {
  text-align: center;
  background-color:#00719c;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding:10px;
}

.App-main{
  margin-top:20px;
}

h1{
  /* color: #06BEE1; */
  text-decoration: none;
  color:lightblue;
  -webkit-text-stroke: white;
  -webkit-text-stroke-width: .75px;
}