            /* main page layout */

.location{
    font-size: 60px;
    margin-bottom: 10px;
}

.week{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}



            /* Today block layout */
.today{
    display: flex;
    justify-content:left;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 5px;
    width: 91%;
    min-width: 150px;
    background-color: lightblue;
}

#todayDate{
    text-align: center;
}

.today img{
    max-width: 300px;
}

.today ul{
    display:flex;
    flex-wrap:wrap;
    list-style-type: none;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 5px;
    width: 30%;
    min-width: 250px;
    background-color: white;
}

.todayInfo{
    display: flex;
    justify-content: right;
}



            /* Weekday layout */
.day{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 5px;
    width: 17%;
    min-width: 150px;
    column-count: 7;
    background-color: #009bd6;
}


            /* Chart Layout */
.bar{
    height: 200px;
}

.day ul{
    padding: 0;
    list-style-type: none;
    justify-content: left;
    overflow: hidden;
}


img{
    width: 50%;
}

p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bigData{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.chart{
    width:45%;
    margin: 10px;
    background-color: #E7E3D4;
    border-radius: 15px;
}

.Bar{
    width:45%;
    margin: 10px;
    background-color: #E7E3D4;
    border-radius: 15px;
}